html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* COLORS */
$menu-hover-color: rgba(12,213,248,0.2);
$footer-color: #e7e7e7;
$border-color: rgba(0,0,0,0.1);
$chart-menu-bg-color: rgba(0,0,0,0.02);
$chart-menu-section-color: rgba(0,0,0,0.7);

/* FONTS & FONT STYLES */

$primary-font: arial;

@font-face{
  font-family: 'Playfair';
  src: url('../../public/playfair-display/PlayfairDisplay-Black.otf');
}

@mixin main-font-style{
  font-family: arial;
  font-size: 10pt;
}