@import 'globalstyle';
@import 'navbar';
@import 'menu';
@import 'chart';
@import 'keywords_publishers';
@import 'slider';
@import 'footer';

body {
  overflow-x: hidden;
}

.main {
  background-color: #fff;
  display: flex;
}

.chart-label-x {
  @include chart-axis-label;
  display: flex;
    display: -webkit-flex;
  flex-direction: row;
    -webkit-flex-direction: row;
  align-items: space-around;
}

.date-slider-label {
  flex: 1 1 20px;
  font-size: 8pt;
  align-self: baseline;
}

.loading {
  width: 720px;
  height: 520px;
  background-color: #fff;
  position: relative;
}