$navbar-color: rgba(12,213,248,.1);

/*@media (min-device-width : 600px) {
  .navbar > li{
    flex-direction: column;
  }
}*/

p{
  font-family: verdana;
}

.navbar{
  background-color: $navbar-color;
}

.visual {
  display: flex;
  flex-wrap: wrap;
}

.barchart, .linechart{
  width: 700px;
  height: 400px;
  flex-direction: column;
  flex: 1 1 600px;
  padding: 25px;
}