$primary-color: green;

body {
  background-color: #EFEFEF;
}

h1{
  color: $primary-color;
}

p{
  font-family: verdana;
<<<<<<< HEAD
}

.barchart, .linechart{
  padding: 25px;
}

=======
}
>>>>>>> parent of b3c372c... Added Bootstrap and Navbar
